.content {
  margin-top: 60px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.searchBar input[type="text"] {
  padding: 8px;
  border: 1px solid inherit;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 14px;
}

.add-contact-btn {
  background-color: #31ebf1;
  color: #fff;
  text-shadow: 1px 1px 3px black;
  font-weight: 600;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

a {
  color: #fdfdfd;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #b8f8e8;
  box-shadow: 0px 2px 8px rgb(94, 93, 93);
  animation: tableFadeIn 0.5s ease-in-out;
}

.styled-table thead th {
  padding: 15px;
  color: #fff;
  background-color: #7abafd;
  font-size: 14px;
  text-align: center;
}

.styled-table tbody td {
  padding: 15px;
  font-size: 14px;
  border-bottom: 1px solid white;
  text-align: center;
}

.styled-table tbody tr:last-child td {
  border-bottom: none;
}

.edit-btn {
  margin-right: 1px;
  background-color: #39f164;
}
.edit-btn:hover {
  background-color: #19cf44;
}

.delete-btn {
  background-color: #f77f8b;
}
.delete-btn:hover {
  background-color: #f85565;
}

@keyframes tableFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
